@import url("https://fonts.googleapis.com/css?family=Inconsolata|Source+Sans+Pro");
/* Colors */
/* Main */
html {
  box-sizing: border-box;
  background: #DEE1EC;
  font-family: "Source Sans Pro", "Verdana", "Arial", "sans-serif";
  font-size: 18px;
  letter-spacing: .3px;
  line-height: 26px;
  font-weight: 200;
  position: relative;
  min-height: 100%; }

body {
  margin: 0; }

*, *:before, *:after {
  box-sizing: inherit; }

.site-wrap {
  max-width: 1100px;
  margin: 100px auto;
  background: white;
  padding: 70px;
  text-align: justify;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5); }

/* Navigation */
nav {
  background: #303D74;
  top: 0;
  width: 100%;
  position: fixed;
  box-shadow: 0 5px 0 rgba(0, 0, 0, 0.1);
  z-index: 1;
  letter-spacing: 1px; }

@media only screen and (max-width: 768px) {
  nav {
    position: relative; }

  nav.fixed-nav {
    position: relative; }

  .site-wrap {
    margin-top: 0px; } }
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex; }

nav li {
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; }

li.logo {
  max-width: 500px;
  overflow: hidden;
  transition: all 0.5s;
  background-color: #FFFEEE; }

li.logo a {
  color: #AA3939;
  font-family: "Inconsolata", "monospace";
  text-transform: lowercase;
  font-weight: 600;
  font-size: 25px;
  padding: 0px; }

nav a {
  text-decoration: none;
  padding: 20px;
  display: inline-block;
  color: #DEE1EC;
  text-transform: uppercase; }

/* Main Content */
.site-wrap h1, .site-wrap h2, .site-wrap h3, .site-wrap h4, .site-wrap h5, .site-wrap small {
  font-family: Inconsolata, monospace; }
.site-wrap h1 {
  border-bottom: 1px solid #CCC;
  padding-bottom: 5px; }
.site-wrap small {
  font-size: 14px !important;
  color: #808080; }
.site-wrap .post-list {
  list-style: none; }
.site-wrap a {
  text-decoration: none;
  color: #AA3939; }
.site-wrap ul {
  list-style-type: none;
  padding-left: 0; }
.site-wrap img {
  margin: auto;
  display: block;
  max-height: 500px;
  border: 1px solid black; }

code {
  font-size: 80%;
  background-color: #FFEEEE;
  padding: 5px; }

.highlight code {
  background-color: inherit;
  padding: inherit; }

blockquote {
  font-size: 80%;
  color: #808080; }

.highlight {
  border-radius: 15px;
  padding: 5px 10px;
  background-color: #FAFAFA !important;
  line-height: 20px; }

.contact-link {
  max-width: 50px; }

/* Footer */
body {
  margin-bottom: 60px; }

#main-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #140000;
  font-size: 14px;
  letter-spacing: 1px; }

.container .text-muted {
  margin-left: 20px;
  color: #CCC; }

#home-footer {
  display: flex; }

@media only screen and (max-width: 768px) {
  #home-footer {
    flex-direction: column; } }
#left-home-footer {
  flex: 1; }

#center-home-footer {
  flex: 1; }

#right-home-footer {
  flex: 1; }

.mobile-home {
  display: none; }

@media only screen and (max-width: 768px) {
  article.site-wrap {
    padding: 50px 30px 30px 30px; }

  pre {
    white-space: pre-wrap; }

  .highlight code {
    line-height: 70%;
    text-align: left;
    letter-spacing: 0px; }

  .logo {
    display: none; }

  .mobile-home {
    display: block;
    background: #FFFEEE;
    color: #AA3939;
    text-align: center;
    font-family: "Inconsolata", "monospace";
    text-transform: lowercase;
    font-size: 150%; } }
